<div class="row">
  <div class="col-md-offset-3 col-md-6 well">
    <h1 class="text-center">Budzogáň</h1>
    <h2></h2>
    <p class="lead text-center">Vitaj v aplikácií Budzogáň :)</p>
    <p class="small text-center">Pre pokračovanie sa <%= link_to 'prihlás', new_user_session_path %> :)</p>
  </div>
</div>
