<div id="box-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-3">Vetný člen:</div>
        <div class="col-md-9">
          <select class="form-control" id="sentence-element">
            <option value="subject">Podmet</option>
            <option value="predicate">Prísudok</option>
            <option value="object">Predmet</option>
            <option value="attribute">Prívlastok</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Pád:</div>
        <div class="col-md-9">
          <select class="form-control" id="grammatical-case">
            <option value="1">Nominatív</option>
            <option value="2">Genitív</option>
            <option value="3">Datív</option>
            <option value="4">Akuzatív</option>
            <option value="5">Lokál</option>
            <option value="6">Inštrumentál</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Vlastnosti:</div>
        <div class="col-md-9"></div>
      </div>
      <div class="row">
        <div class="col-md-offset-9">
          <button class="btn btn-md">Zrušiť</button>
          <button class="btn btn-md">Uložiť</button>
        </div>
      </div>
    </div>
  </div>
</div>
