<div id="connection-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">Typ skladu:</div>
          <div class="col-md-6">
            <select class="form-control" id="connection">
              <option value="assignative">Priraďovací</option>
              <option value="predicative">Podraďovací</option>
              <option value="determinative">Určovací</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zrušiť</button>
        <button type="button" class="btn btn-primary" id="save-connection">Uložiť</button>
      </div>
    </div>
  </div>
</div>
