<div id="connection-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6">Typ skladu:</div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
