<h4 id="properties-title" class="text-muted">Vlastnosti</h4>

<div id="level-1-properties" hidden="hidden">
  <h5 id="level-1-title"></h5>
  <input id="level-1-select" type="hidden"/>
</div>

<div id="level-2-properties" hidden="hidden">
  <h5 id="level-2-title"></h5>
  <input id="level-2-select" type="hidden"/>
</div>

<div id="level-3-properties" hidden="hidden">
  <h5 id="level-3-title"></h5>
  <input id="level-3-select" type="hidden"/>
</div>

<button id="save-properties" class="btn btn-default" disabled="disabled">Uložiť</button>
