<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1>Zoznam úloh</h1>
    <p class="lead">Urob kompletný rozbor týchto viet.</p>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Stav úlohy</th>
          <th>Veta</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each_with_index do |task, i| %>
          <tr>
            <td><%= "#{ i+1 }" %></td>
            <td><%= render 'progress', task: task %></td>
            <td><%= "#{ task.sentence.content }" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
