<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="form-title">Nová trieda</h1>

    <%= form_for @work_group do |f| %>
      <div class="form-group">
        <%= f.label :students %>
      </div>

      <div class="form-group">
        <%= f.label :jozef %>
      </div>

      <button type="submit" class="btn btn-primary">Vytvoriť</button>
    <% end %>
  </div>
</div>
