.circle-red {
  color: #FF5C33;
}

.circle-orange {
  color: #FFCC66;
}

.circle-green {
  color: #42A321;
}

.analyzed-sentence {
  font-size: x-large;
}

.task-header {
  margin-top: 20px;
}

.btn-stacked {
  margin-bottom: 5px;
}
